{% extends 'base.html.twig' %}
{% block title %}Thankyou{% endblock %}
{% block body %}
    <div class="container">
  <div class="jumbotron">
    <h1>Thankyou!</h1>      
    <p>Thank for getting in touch with us.</p>
  </div>
{% endblock %}