{% extends 'base.html.twig' %}

{% block title %}category{% endblock %}

{% block body %}
    </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">NUESTROS PRODUCTOS</h2>
                <div class="galeria-port">
                
                    <div class="imagen-port">
                        <img src="img/vaperIcono.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Vapers</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperLiquido.webp" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Líquidos</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperResistencia.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Atomizadores</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperAccesorios.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Accesorios</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperAroma.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Aromas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperOfertas.webp" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Sales</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperAlquimia.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            
                            <p>Alquimia</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperOrganico.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Organico</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}