{% extends 'base.html.twig' %}

{% block title %}condiciones de uso{% endblock %}

{% block body %}    
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Condiciones De Uso</h2>
            <div class="contenedor-sobre-nosotros">
                <div class="contenido-textos">
                    <h3>PRIMERA. IDENTIFICACION DE LAS PARTES CONTRATANTES.</h3>
                    <p>Las presentes condiciones generales de contratación tienen por objeto regular las operaciones de compra respecto de los productos ofrecidos a través de la presente Web por Grupo Griga Evolution S.L. , con domicilio en la calle Larra Nº 1 de Castellón 12006 ( España ), NIF B12972212, y e-mail info@VaperESP.com , que los clientes realicen en la pagina. Para poder comprar los productos ofrecidos por www.eSmokingSpain.es el cliente debe ser mayor de edad y de acuerdo con estas condiciones generales de contratación.
                        En consecuencia, todos los productos adquiridos a través de este medio por parte de los clientes, se regirán por las condiciones y términos fijados en las presentes condiciones generales de contratación.</p>
                    <h3>SEGUNDA. REGISTRO</h3>
                    <p>Para poder realizar un pedido a través del portal www.eSmokingSpain.es , es necesario que los usuarios creen una cuenta en el sistema. Para ello es necesario suministrar una serie de datos identificativos, así como una dirección de envío y de facturación, y cuenta de correo electrónico; los datos serán tratados de acuerdo con la política de privacidad de la pagina web, que en todo caso debe ser aceptada por el usuario para darse de alta.
                        Entre los datos a facilitar por el usuario esta la contraseña que, junto con la dirección de correo electrónico, le permitirá identificarse en el sistema como usuario registrado. Dicha contraseña deberá tener la condición de personal e intransferible, por lo que la deberá custodiar con la mayor diligencia posible. De igual manera www.vaperESP.com le recomienda en la elección de la misma, que utilice una contraseña con al menos 6 caracteres que reúnan la máxima complejidad posible. Ante cualquier incidencia que el cliente pudiera advertir respecto a la cuenta y a la contraseña, y en todo caso, ante la sospecha de que haya podido ser conocida por terceros, el usuario deberá a la mayor brevedad posible comunicárselo a info@vaperESP.com para su cancelación inmediata, ya que hasta ese momento, www.vaperESP.com , declina cualquier tipo de responsabilidad por los actos y operaciones que hayan podido realizarse con la cuenta en el sistema derivados de una custodia incorrecta de la contraseña o de la negligencia del usuario.
                        El usuario tiene la posibilidad de acceder a su cuenta en cualquier momento, y modificar los datos que ha suministrado a www.vaperESP.com , e incluso cambiar la contraseña.
                        Si el usuario por algún motivo no recuerda la contraseña, puede utilizar la opción de “ Recordar Clave “, mediante la cual, introduciendo la dirección de correo electrónico que facilito para darse de alta, recibirá un e-mail en el que se le indican los pasos a seguir para el cambio de clave.</p>
                    <h3>TERCERA. PROCESOS DE COMPRA</h3>
                    <h3>1. Selección del producto.</h3>
                    <p>Todos los productos que seleccione se irán añadiendo a su carro, pudiendo en todo momento visualizar los productos y las unidades de los mismos, pulsando el enlace que aparece arriba a la derecha en la pagina web de la tienda, tiene la posibilidad de eliminar productos añadidos o modificar las cantidades de los productos seleccionados.</p>
                    <h3>2. Realización del pedido.</h3>
                    <p>En el momento en que el comprador desee concluir el proceso de compra deberá pulsar el link de Realizar el Pedido que aparece en el carro de la compra, momento en el cual, deberá, si no lo ha hecho ya, introducir su nombre ( o bien proceder a registrarse en el sistema ). A continuación tendrá que confirmar los datos relativos a la dirección de envió y de facturación, aceptar las condiciones generales de contratación que rigen el proceso de compra, seleccionar la forma de pago disponible y finalmente `pulsar el botón de Realizar el Pedido.</p>
                    <h3>3. Pago y finalización del proceso</h3>
                    <p>Prepago mediante transferencia bancaria o ingreso en efectivo.</p>
                    <p>El cliente debera realizar el pago mediante trasferencia bancaria indiciandocomo concepto su numero de pedido. El pago intrego ha de ser realizado por adelantado a traves de una transferencia bancaria tras finalizar tu pedido en la cuenta de eSmokingSpain , que se te facilitara en tu confirmacion de pedido.
                        Procedemos al envio una vez hayamos recibido tu ingreso en nuestra cuenta bancaria siempre y cuando se hayan solicitado productos con disponibilidad inmediata.
                        ¡No olvides que algunos bancos puedan tardar 1-2 dias habiles en hacer efectiva la transferencia, y los ingresos en cuenta pueden tardar un minimo de 24h en verse reflejados en nuestro sistema!
                        Importante: Los pedidos con este metodo de pago que no se abonen en la cuenta de 7dias tras la confirmacion del pedido, seran cancelados de forma automatica tras transcurrir dicho plazo.
                        
                        3. Contra reembolso (sólo Península) envio + 3 €
                        Con esta forma de pago, pagaras el pedido directamente en efectivo al transportista en el momento en que te entregue la mercancia. eSmokingSpain.es conservara la plena propiedad del articulo hasta integro pago del mismo, incluyendo posibles errores vendedor o transportista. Procederemos al envio del pedido en 24-48 horas despues de que hayas realizado el pedido, siempre y cuando todos los articulos que hayas adquridose encuentren en stock.
                        Importante: El limite de compra con la forma de pago "contra reembolso" sera de 250€ (IVA incl.) por pedido.</p>
                    <h3>CUARTA. GASTOS DE ENVIO Y TRANSPORTE</h3>
                    <p>España ( envio Agencia Transporte CORREOS EXPRESS, MRW, Nacex : 24/48 h )
                        PEDIDOS HASTA 50 € ------> 3,99 € gastos de envio
                        PEDIDOS SUPERIORES 50 € ------> envio GRATIS
                        Canarias, Baleares, Ceuta y Melilla (Servicio de Correos Certyficado de 2 a 5 dias)
                        PRECIO de envio : 7.99€
                        PORTUGAL envio Agencia Transporte MRW : 24/48h.                         
                        PEDIDOS HASTA 50 € ------> 3.99 € gastos de envio.
                        PEDIDOS SUPERIORES 50 € ------> envio GRATIS.
                        Resto de Europa (Servicio de Correos Certyficado ) 13 € gastos de envio
                        Todos los pedidos se enviaran el mismo dia o al dia siguiente habil. No se consideran dias habiles sabados, domingos ni fiestivos. El tiempo especificando en la pagina de Correos para este tipo de envio es de 2 a 5 dias laborables, y es solo orientativo.
                        Importante: Los envios a Canarias vaperESP.com no se hase cargo de los gastos de aduana. El cliente debe abonar dichos gastos, si estos ocurrieran.</p>
                    <h3>QUINTA. RECLAMACIONES</h3>
                    <p>De acuerdo con el artículo 1 del RD 5/ 1997 de 14 de enero, existen a disposición de nuestros clientes, hojas de reclamaciones en el domicilio social de la empresa, y a través de sus solicitud por e-mail info@VaperESP.es
                        La empresa dispondrá de un plazo de 15 días para solucionar la reclamación presentada por el cliente.</p>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}