{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}
 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="ej2.js"></script>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo" id="tituloEmpresa">La Empresa</h2>
            <div class="contenedor-sobre-nosotros">
                <div class="contenido-textos">
                    <p>Tienda de Vapo VaperESP es una empresa dedicada exclusivamente a la distribución y venta de cigarrillos electrónicos, accesorios 
                        y recambios de las mejores marcas lideres en el mercado europeo  y a unos precios muy competitivos, utilizando las últimas soluciones tecnológicas y de estilo contemporáneo.
                        Buscando la más alta calidad del producto, y siempre con la garantía de las normas de seguridad con certificado Europeo.
                        Todos nuestros productos  están garantizados  y perfectamente comprobados, incluyendo la garantía y servicio técnico.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}