{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">La Empresa</h2>
            <div class="contenedor-sobre-nosotros">
                <div class="contenido-textos">
                    <p>Tienda de Vapo VaperESP es una empresa dedicada exclusivamente a la distribución y venta de cigarrillos electrónicos, accesorios 
                        y recambios de las mejores marcas lideres en el mercado europeo  y a unos precios muy competitivos, utilizando las últimas soluciones tecnológicas y de estilo contemporáneo.
                        Buscando la más alta calidad del producto, y siempre con la garantía de las normas de seguridad con certificado Europeo.
                        Todos nuestros productos  están garantizados  y perfectamente comprobados, incluyendo la garantía y servicio técnico.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}