{% extends 'base.html.twig' %}

{% block title %}Index principal{% endblock %}

{% block body %}

    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">¿Quienes somos?</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/vaper.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    
                    <div id="aco">
                    <h3><span>1</span>¿CUAL ES NUESTRO OBJETIVO?</h3>
                        <div>En VapersESP tenemos un objetivo: cada día nos esforzamos por ser la mejor tienda de productos vapeo online de España. Queremos convertirnos en un referente de la tienda de productos para vapear online a nivel nacional en España para que puedas comprar todos los productos para vapear de la mejor calidad al mejor precio y recibirlos en tu casa en tiempo record.</div>
                    <h3><span>2</span>¿A QUE NOS DEDICAMOS?</h3>
                        <div>Nos hemos especializado en el asesoramiento y venta de productos de tienda de productos para vapear, sabiéndonos adaptar en todo momento tanto a las necesidades de nuestros clientes como a los nuevos tiempos, tratando de satisfacer de la mejor manera posible las compras online de los clientes que confían en nosotros.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">NUESTROS PRODUCTOS</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="img/vaperIcono.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Vapers</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperLiquido.webp" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Líquidos</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperResistencia.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Atomizadores</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperAccesorios.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Accesorios</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperAroma.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Aromas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperOfertas.webp" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Sales</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperAlquimia.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            
                            <p>Alquimia</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/vaperOrganico.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Organico</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">Que dicen nuestros clientes</h2>
            <div class="cards">
                <div class="card">
                    <img src="img/perfil1.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>ElMonoVapeador</h4>
                        <p>Muy buen servicio a domicilio tan solo tardo 1 dia y sin costes adicionales</p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/perfil2.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Name</h4>
                        <p>El chico de la tienda me recomendo un liquido de vaper para fumar parecido al tabaco y me encanta, muchas gracias</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="img/envioDomicilio.png" alt="">
                        <h3>Envíos a domicilio</h3>
                        <p>Entregas de 24h a 72h en la peninsula Ibérica</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="img/atencionCliente.png" alt="">
                        <h3>Atencion al cliente</h3>
                        <p>De lunes a sabado de 09:00 am a 20:00 pm</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="img/reparacion.png" alt="">
                        <h3>Reparación</h3>
                        <p>Cualquier producto de nuestra tienda puede ser reparo en Cualquier de nuestros estableciemientos</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
