{% extends 'base.html.twig' %}
{% block title %} Ciudades {% endblock %}
{% block body %}
    <h1>Ciudades</h1>
    <h2>Bienvenido a la web de Ciudades.</h2>
    <p>Página de inicio</p>
{% endblock %}